<%-include('./includes/header.ejs')%>
<body>
    <div>
        <form action="/getblockhash_result", method="POST">
            <input name="search" placeholder="검색을 원하는 Value를 입력해주세요">
            <button type="submit">검색</button>
        </form>
    </div>
</body>
<%-include('./includes/footer.ejs')%>