<%-include('./includes/header.ejs')%>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">원하는 블록을 검색해보세요!</h1>
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN" action="/getblockhash" method="POST">
                                <select name="searchBox" class="form-select" aria-label="Default select example">
                                    <option value="height">height</option>
                                    <option value="blockhash">blockhash</option>
                                </select>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <input name="search" class="form-control form-control-lg" id="emailAddress" type="text" placeholder="Enter the block info you wanted" data-sb-validations="required,email"/>
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg" type="submit">Search</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                            <h3>신속 정확한 검색</h3>
                            <p class="lead mb-0">다시는 보노보노를 무시하지 마세요<br>속도만큼은 자신있습니다</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3>보노코인을 거래해보세요</h3>
                            <p class="lead mb-0">거래소 페이지에서 편리하게<br>코인을 거래해보세요</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                            <h3>채굴을 환영합니다</h3>
                            <p class="lead mb-0">다운로드 파일을 받은 후<br>코인을 채굴해보세요</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-1.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>프로젝트성 목적으로 만든 알트코인입니다</h2>
                        <p class="lead mb-0">경일게임아카데미 블록체인 4기에서 진행하는 프로젝트입니다<br>실제 상장된 코인이 아님을 알려드리며 즐겁게 봐주시길 바랍니다<br>근데 뭐 반응 좋으면 상장도 고려해보겠습니다</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg')"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>이 홈페이지는 익스플로러 기능을 제공합니다</h2>
                        <p class="lead mb-0">총 4주간 Alternative coin build + 거래소 구축 + Block explorer<br>총 세 개를 진행했으며 그 중 이 곳은 Block explorer 기능을 제공합니다</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-3.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>프로젝트이기에 모든 정보를 제공하지 않습니다</h2>
                        <p class="lead mb-0">우리 Explorer는 코인 Daemon의 정보를 그대로 사용하지 않습니다<br>더욱 빠른 검색 속도를 제공하기 위해서 블록에 필요한 최소 정보들을<br>저희가 만든 DB용 서버에서 직접 관리하고 제공합니다</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">보노코인으로 떡상한 인물들</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="assets/img/class4_asj.png" alt="..." />
                            <h5>빅토르 안(39/뷰티 크리에이터)</h5>
                            <p class="font-weight-light mb-0">"Do I know 흥민 Son? No, you wrong."<br> "Now, All I know is Bonocoin"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="assets/img/class4_lch.png" alt="..." />
                            <h5>이충현(33/편의점 알바생)</h5>
                            <p class="font-weight-light mb-0">"도지에 탕진하고 일론머스크 죽일까 생각했습니다" <br>"하지만 보노코인이 절 살렸습니다"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="assets/img/class4_kwh.jpg" alt="..." />
                            <h5>권원현(32/인기많고 잘생김)</h5>
                            <p class="font-weight-light mb-0">"10년 째 길거리를 전전했습니다"<br>"하지만 지금은 시몬스침대 주문하고 있습니다"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<%-include('./includes/footer.ejs')%>